.visit-container{
    position: sticky;
    top: 50px;
}

.visit-card{
    min-height: 80vh;
    /* border: 2px solid blue; */
    box-shadow: 0px 0px 10px #ccc;
    position: relative;
}

.visit-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-div{
    position: absolute;
    bottom: 10px;
    /* margin-left: 14px;
    margin-right: 14px; */
}

.font-awesome{
    cursor: pointer;
}